*{
    font-family: 'Estonia', cursive;
    font-family: 'Genos', sans-serif;
    font-family: 'Nunito', sans-serif;
}

/* navbar */

.back-nav {
    background: linear-gradient(360deg, #0c485af3 , #140e47ec);
}

.titoloHeader{
    font-family: 'Genos';
    font-size: 150px;
    text-transform: uppercase;
    text-shadow: 10px -1px 4px rgba(0,0,0,0.84);
    text-decoration-style:dashed;
}

.titoloHeader:hover{
    text-shadow: 4px -1px 4px rgba(0, 0, 0, 0.84);
}




/* header */
.header{
    background: linear-gradient(#0c485ac5 , #4b3bdb49), url('/img/header.jpg');
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }



/* footer */
.smile{
    background-image:  linear-gradient(#000507d7 , #ffffff49), url("/img/smile.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.footer-circular-link{
    transition: background-color .15s ease-in-out ;
    color: white;
    height: 40px;
    width: 40px;
    background-color: var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-circular-link:hover{
    transition: background-color .15s ease-in-out ;
    color: blue;
}

/* card home*/
.card{
    justify-content: flex-end;
    flex-direction: row;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    border-radius: 0;
}

.first_card{
    height: 450px;
    width: 450px;
    transform: translate(0%, -10%);
    padding: 20px;
    border: 1px solid blue;
    background-color: white;
    border-style:groove;
}

.imgcard{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-text{
    background: linear-gradient(360deg, #0c485af3 , #140e47ec);
    border-radius: 20px;
    /* margin: 10px 50px; */
}

/* Servizi */

.titoloServizi{
    font-family: 'Genos';
    text-shadow: 7px 0px 11px rgba(0, 0, 0, 0.81);
    font-size: 50px;
    color: blue;
}

.titoloServizi:hover{
    text-shadow: 4px 0px 11px rgba(0, 0, 0, 0.81);
}



/* form contatti */
.container-form{
    background: linear-gradient(360deg, #0c485af3 , #140e47ec);
    padding: 50px;
    border: 1px solid blue;
    margin: 30px;
}
.btncard2{
    background: linear-gradient(360deg, #0c485af3 , #140e47ec);
    color: white;
    border: 1px solid black;
    box-shadow: 7px -1px 4px rgba(0, 0, 0, 0.84);
}

.btncard2:hover{
    background: linear-gradient(360deg, #072d38f3 , #0b0829ec);
    box-shadow: 4px -1px 4px rgba(0, 0, 0, 0.84);
    border: 1px solid white;
    color: white;
}
